* {
  font-family: 'Lato',sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: #3b557f;
  margin-bottom: 20px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px; }

.social {
  list-style: none;
  display: inline-block;
  margin-bottom: 0; }
  @media (max-width: 450px) {
    .social {
      text-align: center;
      width: 100%; } }
  .social + span {
    display: inline-block;
    font-size: 18px;
    margin-left: 30px; }
    @media (max-width: 450px) {
      .social + span {
        width: 100%;
        text-align: center;
        margin-left: 0; } }
  .social li {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 15px; }
    @media (max-width: 450px) {
      .social li:last-child {
        margin-right: 0; } }
    .social li a {
      display: block;
      height: 100%; }
    .social li i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 15px; }

.logo {
  float: left;
  width: 300px;
  max-width: 100%;
  height: 85px;
  margin-bottom: 20px;
  border: 1px solid #000; }
  .logo + ul {
    float: right;
    padding: 30px 0; }
    .logo + ul li {
      display: inline-block;
      position: relative;
      margin-right: 45px;
      padding-bottom: 10px; }
      .logo + ul li:hover > ul {
        display: block; }
      .logo + ul li:last-child {
        margin-right: 0; }
      .logo + ul li a {
        color: #002258;
        font-size: 21px; }
        .logo + ul li a:hover {
          text-decoration: none; }
      .logo + ul li > ul {
        position: absolute;
        display: none;
        top: 100%;
        left: -65px;
        width: 220px;
        background-color: #fff;
        list-style: none;
        z-index: 10;
        padding: 20px 0 50px 30px;
        border-top: 6px solid #0070ed; }
        .logo + ul li > ul:before {
          content: '';
          position: absolute;
          top: -20px;
          left: 60px;
          border: 9px solid transparent;
          border-bottom-color: #0070ed; }
        .logo + ul li > ul li {
          margin-top: 10px; }
          .logo + ul li > ul li a {
            color: #002258; }
            .logo + ul li > ul li a:hover {
              color: #0070ed; }
  .logo a {
    display: block;
    height: 100%;
    padding: 20px 40px;
    text-align: center;
    font-size: 30px;
    color: #000; }
    .logo a:hover {
      text-decoration: none; }

.main_carousel .carousel-control {
  display: none; }

.main_carousel .item img {
  width: 100%;
  min-height: 550px; }

.main_carousel .item .item_desc {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 0 10px 70px; }
  @media (max-width: 450px) {
    .main_carousel .item .item_desc {
      padding-left: 20px; } }
  .main_carousel .item .item_desc h3 {
    margin: 0;
    font-size: 45px;
    line-height: 1.2; }

.products_wrapper {
  margin-top: 30px; }
  .products_wrapper h2 {
    color: #002258;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px; }

.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .products {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.products_item {
  -webkit-flex-basis: 19%;
  -ms-flex-preferred-size: 19%;
  flex-basis: 19%;
  position: relative;
  height: 250px;
  background: center no-repeat;
  -webkit-background-size: 105% 100%;
  background-size: 105% 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  @media (max-width: 768px) {
    .products_item {
      -webkit-flex-basis: 49%;
      -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
      margin-top: 20px; } }
  @media (max-width: 450px) {
    .products_item {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-top: 20px; } }
  .products_item:hover {
    -webkit-background-size: 130% 120%;
    background-size: 130% 120%; }
  .products_item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .products_item .item_name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    text-transform: uppercase; }
    .products_item .item_name span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .products_item:nth-child(1) {
    background-image: url(../../images/2.jpg); }
  .products_item:nth-child(2) {
    background-image: url(../../images/5.jpg); }
  .products_item:nth-child(3) {
    background-image: url(../../images/6.jpg); }
  .products_item:nth-child(4) {
    background-image: url(../../images/7.jpg); }
  .products_item:nth-child(5) {
    background-image: url(../../images/8.jpg); }

hr {
  width: 54%;
  margin: 20px auto;
  border-top-width: 2px; }

.pa_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px; }

.portfolio, .about {
  height: 300px;
  -webkit-flex-basis: 49%;
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
  position: relative;
  background: center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../../images/9.jpg); }
  @media (max-width: 630px) {
    .portfolio, .about {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-top: 20px; } }
  .portfolio:hover:before, .about:hover:before {
    background-color: rgba(0, 0, 0, 0.7); }
  .portfolio:hover h3, .about:hover h3 {
    top: 40%; }
  .portfolio:before, .about:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .portfolio h3, .about h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.about {
  background-image: url(../../images/10.jpg); }

footer {
  background: #3b557f; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 630px) {
    .footer {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 630px) {
    .footer > div {
      margin-top: 10px; } }
  .footer > div span {
    text-transform: uppercase;
    margin-right: 20px; }
    .footer > div span:last-child {
      margin-right: 0; }
    .footer > div span a {
      color: #fff; }
